<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Transaction Management</h1>

	<form action="/" method="post">
		
		<input type="text" name="name" /> 
		<input type="checkbox" name="error"> Throw Error
		<br>
		<br>
		<input type="submit" />
		
	</form>
	<br>
	<br>
	<div th:text="${status}" style="padding: 10px; background: green;color: white"></div>
	<br>
	<br>
	
	<div th:text="${schools}" style="padding: 10px; background: orange"></div>


</body>

</html>